<div class="container d-flex justify-content-center">
    <div class="card text-white bg-light container-width text-center">
        <div class="card-header text-dark">
            <h4>SUBJECT</h4>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row align-items-center px-5">
                    <div class="col-12 form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-file-code-o"></i></span>
                            </div>
                            <select class="custom-select">
                                <option selected>Category type...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-book"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Subject Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                            </div>
                            <input type="number" class="form-control" placeholder="Duration">
                        </div>
                    </div>
                    <div class="form-check form-check-lg">
                        <input type="checkbox" class="form-check-input">
                        <label class="text-dark">Active</label>
                    </div>
                </div>
                <button class="btn btn-info mr-5 px-4 float-right" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>