<div class="container d-flex justify-content-center">
    <div class="card text-white bg-light container-width text-center">
        <div class="card-header text-dark">
            <h4>CATEGORY</h4>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row align-items-center px-5">
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-book"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Category Name">
                        </div>
                    </div>
                    <div class="form-check form-check-lg">
                        <input type="checkbox" class="form-check-input">
                        <label class="text-dark">Active</label>
                    </div>
                </div>
                <button class="btn btn-primary mr-5 px-4 float-right" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>